{% extends 'base.html.twig' %}

{% block title %}The Gamegic{% endblock %}
{% block stylesheets %}
    <link href="/assets/css/advance.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=MedievalSharp"/>
{% endblock %}
    {% block navbar %}
    {% endblock %}
{% block body %}
    <div class="container">
        <h1>Recherche Avancée</h1>
        <div class="row">
            <form class="form my-2 my-lg-0 col-12 justify-content-center">
                <label class="form-row-label" for="name">
                    Nom
                    <input class="form-control mr-sm-2 text-light" type="search" placeholder="Nom" aria-label="name"
                           name="name" id="name">
                </label>
                <button class="btn btn-dark my-2 my-sm-0 text-light" type="submit">Rechercher</button>
            </form>
        </div>

    </div>

{% endblock %}
