{% extends 'base.html.twig' %}

{% block title %}The Gamegic{% endblock %}
{% block stylesheets %}
    <link href="/assets/css/home.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=MedievalSharp"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <img class=" col-12 justify-content-center logoMg" src="/assets/images/mtglogo.png">
        </div>

        <div class="row">
            <form class="form-inline my-2 my-lg-0 col-12 justify-content-center">
                <input class="form-control mr-sm-2 text-light" type="search" placeholder="Rechercher" aria-label="Search" name="search">
                <button class="btn btn-dark my-2 my-sm-0 text-light" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
{% endblock %}
