body{
    background-image: url("/assets/images/backgrounds/magic.jpg");
    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

img{
    max-height: 300px;
    object-fit: contain;
    top: 25vh;
}

.img{
    max-height: 70vh !important;
}

.index-page form{
    top: 25vh;
}

.form-inline .form-control{
    background-color: #6c757d;
    opacity: 0.8;
    width: 30vw;
}

a {
    font-family: Rubik,"Helvetica Neue",Helvetica,Arial,sans-serif;    font-size: 1.7em;
    color: #343a40;
    font-weight: 900;
}

a:hover{
    color: #343a40;
}
.navbar{
    background-color: rgba(24, 34, 24, 0.5);
}
.g-ico{
    width: 40px;
    height: 40px;
}
.nav-pagination,a{
    color: white;
}
.modal-content{
    background-color: transparent;
    border: none;
}
.dropdown-menu{
    background-color: #6c757d;
    color: white;
}
.dropdown-menu:hover{
    background-color: #545b62;
    color: white;
}
.dropdown-item:focus, .dropdown-item{
    background-color: #6c757d;
    color: white;
    font-size: 1.5em;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #545b62;
    color: white;
}
div.show-image {
    position: relative;
    float:left;
    margin:5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
div.show-image:hover img{
    opacity:0.6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
div.show-image:hover button {
    display: block;
}
div.show-image button {
    position:absolute;
    display:none;
}
div.show-image:hover a.decks{
    display: block;
}
div.show-image button.library {
    top:20%;
    left:20%;
}
div.show-image a.decks {
    position:absolute;
    display:none;
    margin-top: -80%;
    left:20%;
}
div.show-image button.show {
    top:80%;
    left:32%;
}
.mbutton{
    font-size: 16px;
}
