body{
    background-image: url("/assets/images/backgrounds/magic.jpg");
    object-fit: cover;
    background-attachment: fixed;}

img{
    max-height: 300px;
    object-fit: contain;
    top: 25vh;
}

.img{
    max-height: 70vh !important;
}

form{
    top: 25vh;
}

.form-inline .form-control{
    background-color: #6c757d;
    width: 30vw;
}
a {
    font-family: Rubik,"Helvetica Neue",Helvetica,Arial,sans-serif;    font-size: 1.7em;
    color: #343a40;
    font-weight: 900;
}

a:hover{
    color: #343a40;
}
navbar{
    background-color: rgba(24, 34, 24, 0.5);
}
.g-ico{
    width: 40px;
    height: 40px;
}
.nav-pagination,a{
    color: white;
}
.modal-content{
    background-color: transparent;
}
.dropdown-menu{
    background-color: #6c757d;
    color: white;
}
.dropdown-menu:hover{
    background-color: #545b62;
    color: white;
}
.dropdown-item:focus, .dropdown-item{
    background-color: #6c757d;
    color: white;
    font-size: 1.5em;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #545b62;
    color: white;
}
