<div class="form-inline justify-content-center">
    {{ form_start(form, { 'attr': {'class': 'form-inline'}}) }}
    <button class="btn btn-secondary ml-2 my-2 my-sm-0 text-light"><i class="fas fa-search"></i></button>
    {{ form_end(form) }}
</div>