<a href="{{ path('add_card', {'idCard':card.id, 'path':currentPath}) }}">
    <button class="library mbutton btn btn-bloc btn-success ">
        <i class="fa fa-plus-circle"></i> Bibliothèque
    </button>
</a>