<form class="form-inline my-2 my-lg-0 justify-content-right">
    <input class="form-control mr-sm-2 text-light navsearch" type="search" placeholder="Rechercher"
           aria-label="Search" name="search">
    <button class="btn btn-dark my-2 my-sm-0 text-light" type="submit">Rechercher</button>
</form>