{% extends 'base.html.twig' %}

{% block title %}Deck index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <h2>Vos Decks</h2>
            <h3>Nouveau</h3>
            {{ include('deck/_form.html.twig') }}

            {% for deck in decks %}
                <a href="{{ path('deck_show', {'id': deck.id}) }}">{{ deck.name }}</a>
                <a href="{{ path('deck_edit', {'id': deck.id}) }}">Modifier</a>
            {% else %}
                <p>Aucun deck pour le moment</p>
            {% endfor %}
        </div>
        <div class="col-9">

        </div>
    </div>

{% endblock %}
